body {
    margin: 0;
    background: #222;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    height: 100vh;
    overflow: hidden;
}
#bing-img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: block;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
#links {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    z-index: 1;
    padding-bottom: 50px;
    margin-top: 0;
    padding-top: 0;
}
#links a {
    color: #fff;
    background: #444;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    border-radius: 5px;
}
#links a:hover {
    background: #666;
}
#links a img {
    height: 24px;
    vertical-align: middle;
}

#bing-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
}

