body {
    margin: 0;
    background: #222;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    height: 100vh;
    overflow: hidden;
}
#bing-img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: block;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
#links {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    z-index: 1;
    padding-bottom: 50px;
    margin-top: 0;
    padding-top: 0;
}
#links a {
    color: #fff;
    background: rgba(0,0,0,0.5);
    padding: 20px 20px;
    margin: 0 10px;
    text-decoration: none;
    border-radius: 5px;
}
#links a:hover {
    background: rgba(0,0,0,0.8);
}
#links a img {
    height: 32px;
    vertical-align: middle;
}

#bing-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
}


#clock {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 2em;
    color: white;
    background: rgba(0,0,0,0.5);
    padding: 0.3em 0.8em;
    border-radius: 0.5em;
    z-index: 2;
    font-family: monospace;
}

#weather {
    position: absolute;
    top: 70px;
    right: 40px;
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    z-index: 2;
    font-family: sans-serif;
}
