body {
    margin: 0;
    background: #222;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    height: 100vh;
    overflow: hidden;
}
#background-img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: block;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 0;
}

#links {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    padding-bottom: 10px;
    margin-top: 0;
    padding-top: 0;
    /* Hide horizontal scrollbar*/
    scrollbar-width: none;          /* Firefox */
    -ms-overflow-style: none;       /* IE and Edge */
}

.fade-hide {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.fade-show {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s ease;
}

#links::-webkit-scrollbar {
    /* Hide horizontal scrollbar*/
    display: none;                  /* Chrome, Safari, Opera */
}

#links li {
    gap: 10%;
    list-style-type: none;
    scroll-snap-align: center;
    flex: 0 0 120px;
}
#links a {
    padding: 32px 20px;
    border-radius: 5px;
    background: rgba(0,0,0,0.75);
    display: block;
    width: 120px;
    height: 60px;
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#links a:hover {
    background: rgba(0,0,0,0.8);
}
#links a img {
    height: 48px;
    vertical-align: middle;
}
# sf-anytime {
    height: fit-content;
    max-width: 80%;
    width: auto;
    margin: 0 20px;
}

#clock {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 4em;
    color: white;
    padding: 0.3em 0.4em;
    border-radius: 0.5em;
    z-index: 2;
    font-family: "Montserrat", sans-serif;
}

#weather-widget {
    position:absolute;
    top: 90px;
    right: 20px;
    color: white;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    z-index:2;
    font-family:sans-serif;
    font-size: 1.5em;
}

#weather-icon {
vertical-align:middle;
    width: 80px;
}
