body {
    margin: 0;
    background: #222;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    height: 100vh;
    overflow: hidden;
}
#bing-img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: block;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
#links {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    left: 0;
    bottom: 0;
    width: 100vw;
    z-index: 1;
    padding-bottom: 50px;
    margin-top: 0;
    padding-top: 0;
    width: 100vw;
}

#links li {
    list-style-type: none;
    gap: 10%;
    background: rgba(0,0,0,0.5);
    padding: 32px 20px;
    width: 120px;
    height: 60px;
    border-radius: 5px;
    margin: 0 10px;
    border-radius: 5px;
    width: 10vw;
    scroll-snap-align: center;
    width: 120px;
    border-radius: 5px;
    flex: 0 0 120px;
}
#links a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
#links a:hover {
    background: rgba(0,0,0,0.8);
}
#links a img {
    height: 48px;
    vertical-align: middle;
}

#bing-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
}


#clock {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 4em;
    color: white;
    padding: 0.3em 0.4em;
    border-radius: 0.5em;
    z-index: 2;
    font-family: "Montserrat", sans-serif;
}

#weather-widget {
    position:absolute;
    top:70px;
    right:20px;
    color:white;
    padding:0.5em 1em;
    border-radius:0.5em;
    z-index:2;
    font-family:sans-serif;
    font-size: 1.5em;
}

#weather-icon {
vertical-align:middle;
    width: 80px;
}
